/* === VARIABLES === */
:root {
	--primary-blue: #4D5AE5;
	--pressed-blue: #404BBF;
	--overlay-dark:#2E2F42;
	--success-message:#31D0AA;
	--main-text:#434455;
	--secondary-text:#8E8F99;
	--accent-color:#E7E9FC;
	--background-lite:#F4F4FD;
	--hero-background:#2E2F42;
	--white-background:#FFFFFF;
	--modal-background:#FCFCFC;
	--btn-color:rgba(0, 0, 0, 0.15);
	--text-shadow:rgba(0, 0, 0, 0.25);
	--box-shadow:rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
	}
	/* === BASE STYLES === */
	*,
*::before,
*::after {
  box-sizing: border-box;
}
ul,
ol {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
	font-family: "Roboto", sans-serif;
	color: var(--main-text);
	background-color: var(--white-background);
}
address {
	font-style: normal;
}
a {
		text-decoration: none;
		color: currentColor;
	}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
/* === COMPONENT STYLES === */
.container {
	max-width: 428px;
	padding-left: 16px;
	padding-right: 16px;
	margin: 0 auto;
 }
 
 @media screen and (min-width: 768px) {
	.container {
	  max-width: 768px;
	}
 }
 
 @media screen and (min-width: 1158px) {
	.container {
	  max-width: 1158px;
	  padding-left: 15px;
	  padding-right: 15px;
	  
	}
 }
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(46, 47, 66, 0.4);
	opacity: 1;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
	  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 72px 24px 24px 24px;
	transform: translate(-50%, -50%) scale(1);
	  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	width: 408px;
	min-height: 584px;
	border-radius: 4px;
	background: var(--modal-background);
	box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

}
.modal-close-btn {
	position: absolute;
	top: 24px;
	right: 24px;
	display: flex;
	justify-content: center;
	  align-items: center;
	  width: 24px;
	  height: 24px;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: var(--accent-color);
	padding: 0;
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
	fill: var(--white-background);
	background-color: var(--pressed-blue);
	border: none;
}
.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0.5);
 }
 .svg-modal {
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
	}
.section {
padding: 120px 0;
}
.section-portfolio-btn {
padding: 96px 0 120px 0;
}
.portfolio-btn {
display: flex;
gap: 24px;
flex-wrap: wrap;
text-align: center;
justify-content: center;
margin-bottom: 72px;

}
.btn {
background-color: var(--background-lite);
color: var(--primary-blue);
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
display: block;
padding: 12px 24px;
border-radius: 4px;
border: 1px solid var(--accent-color);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}
.btn:hover,
.btn:focus {
background-color: var(--pressed-blue);
color: var(--white-background);
border: 1px solid transparent ;
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.btn-adress {
font-size: 16px;
line-height: 1.5;
font-weight: 400;
letter-spacing: 0.02em;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.btn-adress:hover,
.btn-adress:focus {
color: var(--pressed-blue);
}
.list {
list-style: none;
}
.link {
text-decoration: none;
}
.svg-link {
	width: 100%;
	height: 100%;
	background-color:var(--primary-blue);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link {
 fill: var(--background-lite);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-link:hover,
.svg-link:focus {
  background-color: var(--pressed-blue);
}
.svg-link:hover .social-link,
.svg-link:focus .social-link {
  fill: var(--background-lite);
}
/* === MODAL === */
.modal-paragraph {
	text-align: center;
	margin-bottom: 16px;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--overlay-dark);
}
.modal-form {
	margin: 0 auto;
	width: 360px;
	height: auto;
}
.modal-form-container {
	margin-bottom: 8px;
	position: relative;
}
.area {
	margin-bottom: 16px;
}
.divcheckbox {
	margin-bottom: 24px;
}
.modal-label {
	display: block;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: var(--secondary-text);
	margin-bottom: 4px;
}
.modal-text {
	display: block;
	color: var(--secondary-text);
	margin-top: 8px;
}
.modal-div-label {
	position: relative;
}
.modal-input {
	width: 100%;
	height: 40px;
	border: 1px solid  rgba(46, 47, 66, 0.4);
	border-radius: 4px;
	cursor: pointer;
	padding-left: 38px;
	outline: none;
	outline: transparent;
	color: var(--overlay-dark);
	background-color: transparent;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
.modal-input:focus {
		border-color: var(--primary-blue);
	}
.modal-input:focus + .svg-form{
fill: var(--primary-blue);
}
.svg-form {
	fill: var(--overlay-dark);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 16px;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea {
	resize: none;
	width: 100%;
	height: 120px;
	border: 1px solid rgba(46, 47, 66, 0.4) ;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 8px 16px;
	margin-bottom: 20px;
	font-family: Roboto;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	font-style: normal;
 color: rgba(46, 47, 66, 0.4); ;
	background-color: transparent;
	outline: transparent;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .textarea:focus {
	border-color: var(--primary-blue);
 }

.input-checkbox {
	position: absolute;
}
.checkbox {
	color: var(--secondary-text);
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
}
.input-checkbox:checked + .checkbox span {
	background-color: var(--pressed-blue);
	border: none;
	fill: var(--background-lite);
 }
.check-box {
	width: 16px;
	height: 16px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	fill: transparent;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 2px; 
	margin-right: 8px;
}
.checkbox-link {
	color: var(--primary-blue);
	text-decoration: underline;
}
.modal-label-btn {
	display: block;
	margin: 0 auto;
	min-width: 169px;
	height: 56px;
	background-color: var(--primary-blue);
	color: var(--white-background);
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* === HEADER ===  */
	/* === BODY === */
		/* === FOOTER === */
		.footer {
		background-color: #2E2F42;
		font-size: 18px;
		padding: 97px 0;
		}
		@media screen and (min-width: 768px) {
			.footer {
			display: flex;
			}
		}
		@media screen and (min-width: 1158px) {
			.footer {
				font-size: 16px;
				line-height: 1.5;
				letter-spacing: 0.02em;
				padding: 100px 0;
			}
		}
		.footer-container {
			align-items: baseline;
		}
		@media screen and (min-width: 1158px) {
			.footer-container {
			display: flex;
			}
		}
		.footer-tablet {
			align-items: baseline;	
		}
		@media screen and (min-width: 768px) and (max-width: 1157px) {
			.footer-tablet {
			display: flex;
			gap: 24px;
			justify-content: space-around;
		}
		}
		@media screen and (min-width: 1158px) { 
			.footer-tablet {
				display: flex;
			}
		}
		@media screen and (max-width: 767px) {
		.footer-studio-flex {
			text-align: center;
		}
	}
		@media screen and (min-width: 768px) {
			.footer-studio-flex {
			margin-right: 24px;
			}
		}
		@media screen and (min-width: 1158px) {
			.footer-studio-flex {
			margin-right: 120px;
			}
		}
		.web-footer {
		color: var(--primary-blue);
		font-family: "Raleway",sans-serif;
		font-weight: 800;
		font-size: 18px;
		line-height: 1.17;
		letter-spacing: 0.03em;
		display: inline-block;
		text-transform: uppercase;
		margin-bottom: 18px;
		}
		.web-studio-footer {
			color: var(--background-lite);
			text-transform: uppercase;
		}
		.footer-text {
				color: var(--background-lite);
				font-size: 16px;
				line-height: 1.5;
				font-weight: 400;
				letter-spacing: 0.02em;
				max-width: 268px;
				margin:0 auto;
				margin-bottom: 72px;
				text-align: start;
				
		}
		@media screen and (min-width: 768px) {
			.footer-text {
				width: 268px;
			}
		}

		.footer-social-list {
			display: flex;
			justify-content: center;
			gap: 16px;
			}
			@media screen and (max-width: 767px) {
				.footer-social-list {
					margin-bottom: 72px;
				}
			}
		.footer-social-media {
				color: var(--white-background);
				font-size: 16px;
				font-weight: 500;
				line-height: 1.5;
				letter-spacing: 0.02em;
				margin-bottom: 16px;
				
		}
		@media screen and (max-width: 767px) {
			.footer-social-media {
				text-align: center;
			}
		}
		.footer-social-item {
				width: 40px;
				height: 40px;
			}
		.footer-social-item .svg-link:hover,
		.footer-social-item .svg-link:focus {
			background-color: #31D0AA;
			}
			@media screen and (max-width: 1157px) {
				.footer__form {
				}
			}
			@media screen and (min-width: 1158px) {
				.footer__form {
					margin-left: 80px;
				}
			}
			
			.footer__email {
				width: 398px;
				
				
			}
			@media screen and (min-width: 768px)  {
				.footer__email {
					width: 100%;
					display: flex;
					align-items: baseline;
					text-align: center;
				}
			}
			@media screen and (min-width: 1158px)  {
				.footer__email {
					gap: 24px;
				}
			}
			.footer__label {
				text-align: center;
				font-size: 16px;
				font-weight: 500;
				line-height: 1.5;
				letter-spacing: 0.02em;
				color: var(--white-background);
				margin-bottom: 16px;
			}
			@media screen and (min-width: 768px)  {
				.footer__label {
					text-align: start;
				}
			}
			.input {
				display: block;
				width: 100%;
				height: 40px;
				padding-left: 16px;
				border: 1px solid var(--white-background);
				border-radius: 4px;
				background-color: transparent;
				font-size: 12px;
				line-height: 2;
				letter-spacing: 0.04em;	
				color: var(--white-background);
				filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
				margin-bottom: 16px;
		
			}
			@media screen and (min-width: 768px) {
				.input {
					width: 264px;
				display: flex;
				line-height: 1.5;
				}
			}
			.label-btn {
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 4px;
				min-width: 165px;
				height: 40px;
				background-color: var(--primary-blue);
				font-family: "Roboto", sans-serif;
				font-size: 16px;
				font-weight: 500;
				line-height: 1.5;
				letter-spacing: 0.04em;
				color: var(--white-background);
				cursor: pointer;
				border: none;
				transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
				transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
				margin: 0 auto;
			}
			@media screen and (min-width: 768px) {
				.label-btn {
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
			@media screen and (min-width: 1158px) {
				.label-btn {
					display: flex;
					justify-content: center;
					align-items: center;
					margin-left: 24px;
				}
			}
			.label-btn-svg {
				margin-left: 16px;
				  fill: var(--white-background);
			}
			.label-btn:hover,
			.label-btn:focus {
				background-color: var(--pressed-blue);
			}